
header {
    background-color: black;
}
@media (max-width: 768px) {
.background_header
    {
        width:100%;
    }
}
.bg-dark
{
   color: black; 
}
nav
{
    font-size: 30px;
    
}
nav a {
    color: #000000;
    text-decoration: none;
    margin:  auto;    
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    
}

nav li a {    
    color: #ffffff;
    text-decoration: none;
}
li
{
    list-style-type: none;
}
.menu li {
    
    margin-right: 25px;
    margin-top: 13px;
    
}

.reseau li {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 7px;
}
footer
{
    color: white;
    background-color: #000000;
}
ol
{
    font-size: 15px;

}

