body {
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: auto;
    border: black 1px solid;
}

header .container{
    height: 60px;
    background: green;   
}

h1{
    margin-left: 25%;
}
nav .container {
    display: flex;
    justify-content: flex-end;
     
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin:  15px; 
    font-size: 20px;   
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    
}

nav li a {    
    color: #ffffff;
    text-decoration: none;
}

article.container{
    width: 100%;
    height: auto;
}

.index {
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}

.connection {
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}

.connecter{
    margin-left: 20%;
}

.creation{
    margin-left: 20%;
}

.page {
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}

.admin{
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}
.edit{
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}
.pwd{
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}


.modif{
    width: 50%;
    padding: 15px;
    margin: 0 0 15px 25%;
    box-shadow: 1px 1px 12px #555;
}